<header id="masthead" class="site-header container">
  <nav class="navbar" aria-label="Main Navigation">
    {% if site.params.header.logo %}
    <div class="navbar__logo">
      <a href="{{ '/' | relative_url }}"><img src="{{ site.params.header.logo | relative_url }}" alt="{{ site.params.header.logo_alt }}" /></a>
    </div>
    {% else %}
    <div class="navbar__title">
      <a href='{{ "/" | relative_url }}'>{{ site.params.header.title }}</a>
    </div>
    {% endif %}
    {% if site.params.header.has_nav %}
    <button id="navbar__open" class="navbar__toggle js-nav-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
    <div class="navbar__menu-container">
      <div class="navbar__scroller">
        <button id="navbar__close" class="navbar__toggle js-nav-toggle"><span class="screen-reader-text">Close Menu</span><span class="icon-close" aria-hidden="true"></span></button>
        <ul class="navbar__menu menu">
          {% for action in site.params.header.nav_links %}
          {% set pageUrl = page.url | trim('/') %}
          {% set actionUrl = action.url | trim('/') %}
          <li {{ classNames('menu__item', {
            'menu__item--current': pageUrl==actionUrl,
            'menu__item--button' : action.style !='link'
          }) }}>
            {% set include_dict = {'action': action} %}
            {% include "action.html" %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </nav>
</header>